/*Hoja de Estilo Fuentes*/

body 
{
	font-family: Arial,Helvetica,sans-serif;
}


.parrafo-prueba
{
	font-weight: bold;
	font-size: 32px;
}


.parrafo-dos
{
	/*font-variant: small-caps;*/
	font-style: italic;
}



.parrafo-tres
{
	font-style: oblique;
}