/*Archivo #2 CSS*/
a
{
	color: #000;
	text-decoration: none;
}


/*Pseudo Clase cuando el link no se ha visitado y cuando ya se ha visitado*/

a:link
{
	color: #900;
}

a:visited
{
	color: #003399;
}

a:hover
{
	background-color: #ccc;
}

input:focus
{
	background-color: #000;
	color: #FFF;
}


input:hover
{
	background-color: #FF0000;
}

ul li:first-child
{
	background-color: #090;
}

ul li:last-child
{
	color: #ff0066;
}

ul li:nth-last-child(1)
{
	color: #FF6;
}