.div_prueba
{
	height: 1000px;
	width: 300px;
	background-color: #333333;
	position: fixed;
	top: -10px;
	left: -10px;
	
}

#contenido
{
	width: 800px;
	margin: 0 auto;
	height: 700px;
	background-color: #003399;
}