/*Hoja Estilo #3
--SEUDO ELEMENTOS QUE YA VIENE CON CSS
*/

ul li 
{
	list-style-type: none;
	font-size: 50px; 
	font-weight: bold;
	color: #069;
}

ul li::before 
{
	content: url(Estrella.png);
}

ul li::after
{
	content: url(Estrella.png);
}

p::first-letter
{
	font-size: 36px;
	font-weight: bold;
	color:#b2b300;
}

p::first-line
{
	color: #F00;
	text-decoration: underline;
}