/*Fondos Parte #2
Multiples Backgrounds
*/

body
{
	
	background-image: url(linux.png),url(textura1.jpg);
	background-repeat: no-repeat,repeat;
	background-position: center bottom,left top;
	background-size: 25%,20%;
	
	
	/*
	background-image: url(bg1.jpg);
	background-size: 100%,100%;
	*/
}


.space
{
	height: 500px;
	/*border:solid*/
}