/**/


#contenido
{

	border-left: solid;
	border-right: solid;
	border-width: 1px;
	border-color: #333333;
	height: 300px;
	width: 800px;
	margin: 0 auto; /*Sirve para centar el DIV*/

}

body 
{

	margin-right: 0px;
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

nav ul li
{
	float: left;
	margin-left: 20px;
}