/* Archivo de Estilos CSS */


h1,h2
{
	color: #990000;
	text-decoration: underline;	

}

p
{
	color: #6600ff;
}

.instructor
{
	color: #66ff1a;
}


#piepagina
{
	color: #ff9933;
}


nav ul li
{
	color: #009933;
}
